.app_container {
  position: relative;
  width:100vw;
  height:100vh;

  .app_background{
    width:fit-content;
    height:40%;
    position: fixed;
    right:-100px;
    bottom:-100px;
    object-fit: cover;
    opacity: .8;
  }
}